@use "../../app/responsiveness.scss" as *;

.contact-section {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .container {
        display: flex;
        align-items: flex-start;
        gap: 2rem;

        @include sm {
            flex-direction: column;
        }

        .logo-section {
            flex: 1;

            .logo {
                height: 6rem;
                width: 6rem;
                object-fit: contain;
            }
        }

        .menu-links {
            flex: 2;

            p {
                font-size: 1.25rem;
                padding-bottom: 0.5rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid var(--secondary);
                font-weight: 500;
                color: var(--secondary);
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.125rem;
            }

            li {
                display: flex;
                align-items: center;
                margin-top: 4px;

                .separator {
                    color: var(--secondary);
                    font-weight: 500;
                }
            }

            a {
                text-decoration: none;
                color: var(--secondary);
                cursor: pointer;
                font-weight: 500;
            }
        }

        .contact-links {
            flex: 2;

            p {
                font-size: 1.25rem;
                padding-bottom: 0.5rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid var(--secondary);
                font-weight: 500;
                color: var(--secondary);
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.125rem;
            }

            li {
                display: flex;
                align-items: center;
                margin-top: 4px;

                .separator {
                    color: var(--secondary);
                    font-weight: 500;
                }
            }

            a {
                text-decoration: none;
                color: var(--secondary);
                cursor: pointer;
                font-weight: 500;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: flex-end;
        gap: 4rem;
        border-top: 1px solid var(--secondary);

        @include sm {
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        .copyright {
            flex: 3;
            padding-top: 1rem;

            p {
                font-size: 1rem;
                font-weight: 600;
                color: var(--secondary);
                text-align: center;
            }
        }
    }
}