@use "../../app/responsiveness.scss" as *;

.stats-banner {
  background: var(--secondary);
  color: var(--primary);
  margin: 1.25rem;
  border-radius: 0.75rem;

  .inner {
    padding: 3rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    @include md {
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 2rem 1rem;
    }
  }

  .stats {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include sm {
      grid-template-columns: 1fr;
      gap: 1.25rem;
    }
  }

  .item {
    padding: 0 2rem;
    position: relative;

    &:not(:first-child) {
      border-left: 1px solid var(--primary);

      @include sm {
        border: none;
      }
    }

    @include md {
      text-align: center;
    }
  }

  .value {
    display: flex;
    align-items: baseline;
    gap: 0.35rem;
    line-height: 1;
    margin-bottom: 0.5rem;

    @include sm {
        justify-content: center;
    }
  }

  .number {
    font-size: clamp(2rem, 4vw + 0.3rem, 3.5rem);
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  .unit {
    font-size: clamp(1.25rem, 2.4vw, 2.25rem);
    font-weight: 700;
    color: var(--accent);
  }

  .label {
    font-size: clamp(0.9rem, 1.2vw, 1rem);
  }

  .blurb {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include md {
      text-align: center;
      margin: 0.25rem;
    }
  }

  .text {
    margin: 0 0 0.75rem 0;
    opacity: 0.9;
    line-height: 1.65;
  }

  .cta {
    color: var(--accent);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: var(--primary)
    }
  }
}